nav
    a.logo(href=""): img(src="", alt="")
    ul.nav__ul
        li: a(href="") ГЛАВНАЯ СТРАНИЦА
        li: a(href="") МИР
        li: a(href="") ДОБАВИТЬ
        li: a(href="") ПРОФИЛЬ
    .profile
        .profile__img: img(src="", alt="")
        .profile__description
            .profile__name: p
        