@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&display=swap');


ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
a{
    
    text-decoration: none;
}





header{
nav{
    font-family: 'Balsamiq Sans', cursive;
    font-size: 18px;
    height: 75px;
    background-color: #475f77;
    display: flex;
    justify-content: space-between;
    align-items: center;
    ul{
        width: 40%;
        display: flex;
        justify-content: space-between;
        li{
            transition: background-size 0.3s ;
            background-image: linear-gradient(#fff, #fff);
            background-position: 0% 100%;
            background-repeat: no-repeat;
            background-size: 0% 2px;
            transition: background-size 0.2s;
            
            a{
                color: #fff;
            }
        }
        li:hover{
            transition: background-size 0.2s;
            background-size: 100% 2px;
        }
    }
}
}
.wrap{
    display: flex;
    height: 100px;
}
.sub-menu{
    width: 20%;
    background-color: #dcddd8;
    border-right:1px solid rgba(0, 0, 0, 0.233) ;
}
.main{
    width: 60%;
    padding: 10px;
    padding-top: 30px;
}
.card{
    height: 100px;
    width: 100%;
    border-radius: 10px 10px 0 0;
    box-shadow:  0 0 6px rgba(0, 0, 0, 0.404);
    &__header{
        color: #fff;
        background-color: #d74b4b;
        display: flex;
        border-radius: 10px 10px 0 0;
        padding: 15px;
        padding-bottom: 2px;
        p{
            margin: 0;
        }
        
    }
    &__info{
        width: 70%;
    }
    .card__name{
        font-size: 24px;
    }
    .card__date{
        font-size: 10px;
        color: #fff;
    }
    .card__mark{
        font-size: 13px;
      
       padding-left: 10px;
       margin-top: 5px;
    }
    
    &__tags{
        width: 15%;
        ul{
            li{
                img{
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }
    &__deadline{

        font-size: 14px;
        color: #fff;
        width: 15%;
        text-align: center;
    }
    &__time-piece{
        font-size: 20px;
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
    }
}
.settings{
    background-color: #354b5e;
    width: 20%;
    border-left: 2px solid rgba(255, 255, 255, 0.644) ;
}
